.serviceThree {
  width: 100%;
  min-height: 100vh;
}
.rawaanActivities {
  width: 100%;
  margin: auto;
  color: #0f4c75;
  /* background: red; */
}


.galleryContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 20px; /* Gap between items */
    margin: 2rem auto; /* Center the gallery on the page */
    color: #0f4c75;
    /* background: red; */
    /* max-width: 800px; Maximum width of the gallery */
}

.galleryItem {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    /* background: blue; */
}

.galleryItem img {
    width: 100%;
    height: auto;
    display: block; /* Remove extra space below images */
    margin: 0 auto; /* Center images horizontally */
}

.gridContainer {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 10px; /* Gap between grid items */
    /* max-width: 600px; Maximum width of the grid */
    margin: 2rem auto; /* Center the grid on the page */
    border: 1px solid #0F4C75;
    border-radius: 10px;
    background: white;
    /* background: red; */
}

.gridItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkboxLabel input[type="checkbox"] {
    margin-right: 5px;
}


.formControl1{
    margin-top: 2rem;
    display: flex;
    width: 40%;
    /* gap: 2rem; */
    justify-content: space-between;
    background: white;
    border-radius: 5px;
    padding: 1rem 1rem;
}
.stayInner{
    display: flex;
    gap: 40px;
}
.radioInner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*  */

.guideContainer{
    /* background: red; */
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.guideBox{
    width: 30%;
    display: flex;
    box-shadow: 0 2px 0 2px solid #00000040;
    background: white;
    border-radius: 10px;
    /* background: red; */
}
.guideDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /* justify-content: center; */
}



@media(max-width:1444px){
    .guideBox{
        width: 40%;
    }
}
@media(max-width:1108px){
    .formControl1{
        width: 70%;
    }
    .guideBox{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .galleryContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
    .gridContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
        grid-template-rows: repeat(4, 1fr); /* 4 rows for smaller screens */
    }
    .box {
        flex-basis: calc(50% - 20px); /* 2 columns for smaller screens */
    }
    .formControl1{
        width: 100%;
    }
}

@media(max-width:659px){
    .guideBox{
        flex-direction: column;
        width: 100%;
    }
    .guideBox img{
        width: 100%;
    }
}

@media (max-width: 456px) {
    .galleryContainer {
        /* grid-template-columns: repeat(2, 1fr); 2 columns for smaller screens */
    }
}