.categoryBlog{
    padding: 10px;
    min-height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;

}
.categoryImg{
    width: 100%;
    height: 75%;
    margin: auto;
    
}
.categoryImg img{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

.categoryBlog .button{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.categoryBlogContent{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categoryBlogContent p{
    line-height: 20px;
}

@media(max-width: 1512px){
    .categoryBlog{
        width: 300px;
        height: 300px;
    }
}