.main {
  min-height: 100vh;
  background: url("../public/resources/home/Home.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}
.mainCaption{
  width: 60%;
  text-align: center;
}
.mainCaptionChild{
  /* width: 80%; */
  font-size: 5rem;
  font-weight: bold;
  color: #15537E;
}

.bookTrip {
  min-height: 100vh;
}
.searchTrip {
  min-height: 290px;
  width: 70%;
  background: #f4f4f4;
  /* border: 6px solid #0f4c75; */
  border-radius: 16px;
  position: relative;
  z-index: 10;
  padding: 1rem;
}
.searchTripBox {
  height: 85%;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.searchTripBox h2 {
  color: #0f4c75;
}
.route{
  display: flex;
  gap: 1.4rem;
  font-size: 1.2rem;
  color: #0f4c75;
  font-weight: bold;
  align-items: center;
  border: 2px solid #A3A3A3;
  padding: 1rem;
  border-radius: 1.2rem;
}
.routeOpt{
  display: flex;
  gap: 1.2rem;
}
.travel{
  font-size: 1.8rem;
}
.inputTrips {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}
.inputTrips h2{
  font-size: 1.3rem;
}
.inputLocation {
  width: 220px;
  /* width: 24%; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid #A3A3A3;
  padding: 1rem;
  border-radius: 1.2rem;
}
.inputLocation h2, .inputDate h2, .inputId h2{
  font-weight: bold;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.iconImage{
  height: 30px;
  width: 30px;
}
.inputDate {
  width: 220px;
  /* width: 24%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #A3A3A3;
  padding: 1rem;
  border-radius: 1.2rem;
}
.inputId {
  width: 220px;
  /* width: 24%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #A3A3A3;
  padding: 1rem;
  border-radius: 1.2rem;
}
.searchButton {
  width: 150px;
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.topDestinations {
  width: 90%;
  min-height: 250px;
  margin: 30px auto;
  /* background: red; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.topDestination h2{
  font-weight: bold;
}
.topDestinationBox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.topDestinations h2{
  font-size: 2rem;
  
}

.rawaanOffer{
  padding: 20px;
  min-height: 80vh;
  background: #E7ECED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rawaanOffer h2{
  font-size: 1.2rem;
  font-weight: bold;
}
.offerBox{
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.offer1{
  height: 400px;
  width: 420px;
  border-radius: 16px;
  background: #F4F4F4;
  box-shadow: 0 4px 10px 0 #00000040;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


/* .tourVideo{
  min-height: 100vh;
  background: #8E99A0;
  padding: 80px;
  box-sizing: border-box;
}
.videoBox{
  width: 75%;
  height: 600px;
  margin: auto;
  background: white;
  border-radius: 16px;
  
} */
/*  */

.testimonials{
  min-height: 100vh;
  width: 90%;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #0f4c75;
}
.pastTripsGallery{
  min-height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.pastTripsHeading{
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}
.pastTrips{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.seeAllButton{
  margin: auto;
}
.testimonials h2{
  font-weight: bold;
  font-size: 1.3rem;
}
.testimonialBox{
  width: 90%;
  min-height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  /* background: red; */
}
.testimonial1{
  width: 560px;
  min-height: 320px;
  border-radius: 16px;
  padding: 20px;
  border: 3px solid #1E3348;
  background: #D3D9DD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.testimonial1 p{
  font-size: 20px;
}
.customerName{
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

@media(max-width:988px){
  .mainCaption h1{
    font-size: 2rem;
  }
  .searchTrip{
    width: 90%;
  }
  .inputLocation, .inputDate, .inputId{
    width: 180px;
  }
  .inputLocation h2{
    font-size: 1rem;
  }
  .inputData{
    width: 150px;
  }
  .inputDate h2{
    font-size: 1rem;
  }
  .inputId h2{
    font-size: 1rem;
  }
  .pastTrips{
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:593px){
  .route{
    flex-direction: column;
    width: 300px;
  }
  .inputTrips{
    gap: 15px;
  }
  .inputLocation, .inputDate, .inputId{
    width: 80%;
  }
  .inputData{
    width: 80%;
  }
}

@media(max-width:499px){
    .mainCaption{
      width: 100%;
      font-size: 1rem;
    }
    .route{
      width: 200px;
    }
    .inputLocation, .inputDate, .inputId{
      width: 93%;
    }
    .testimonials{
      width: 100%;
    }
    .testimonialBox{
      width: 100%;
    }
}